html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
}

nav {
  /* background: #ff8b8b; */
  background: #e3587b;
}

nav a {
  color: white;
  /* font-weight: bold; */
  font-family: "Rubik", sans-serif;
}

.active,
a:hover {
  /* background-color: #e9a8a1; */
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 1px 1px #6b0003;
}

#headerbackground {
  background: #e3587b;
  background-image: linear-gradient(#e3587b, white);
  /* #fcc; */
  height: 548px;
}

#headerbackground img {
  margin-top: -59px;
}

#headerbackground p {
  margin-right: 200px;
  margin-top: 100px;
  color: white;
  font-size: 40px;
  font-family: "Satisfy", cursive;
  font-weight: lighter;
}

#sectionId {
  top: -300px;
  margin-top: -200px;
}

.polaroid {
  border: 1px solid #777;
  padding: 8px;
  box-sizing: border-box;
  background: floralwhite;
}

h1 {
  /* color: //#dc1470; */
  color: #dfd9d4;
  color: black;
  /* font-family: "Bad Script", cursive; */
  font-family: "Satisfy", cursive;

  /* font-weight: bold; */
}

.bottom-border {
  /* border-bottom: 4px solid #dc1470; */
  border-bottom: 4px solid #dfd9d4;
}
.paragraph {
  color: gray;
  font-family: "Rubik", sans-serif;
}

iframe {
  border-width: 0;
  width: 1280px;
  height: 500px;
  /* frameborder: 0;
  scrolling: no; */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #6b0003;
  height: 80px;
  color: white;
  border-top: #c60035 solid 2px;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: x-small;
}
